*{
    font-family: 'Lilita One', sans-serif;
}

.container1{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-item  h5{
    font-size: 25px;
    color: #4b6675;
}
.nav-item  h5:hover{
    transform: scale(1.2);
    color:black;
    border-radius: 20px;
}

.footer{
    width: auto;
    text-align: center;
    flex-wrap: wrap;

}
.col-12 a img{    
    margin: 25px;
}

.footer img{
    width:50px;
    height: 50px;
    margin:20px auto auto auto;
    border-radius: 25px;
}

.footer img:hover{
    transform: scale(1.2);
}
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #c2d1e0;
    color:black;
    padding: 10px;
    border: none;
    border-radius: 50%; /* 設置圓形的半徑為50% */
    width: 60px; /* 設置按鈕寬度 */
    height: 60px; /* 設置按鈕高度 */
    cursor: pointer;
    font-size: 30px;
  }
  
  #backToTopBtn:hover {
    background-color: #a6c4e3;
  }

.footercolor{
    background-color: #bec2c3;
}

.footer{
    display: flex;
    justify-content: space-around;
}

.about{
    text-decoration: none;
    color: black;
    cursor: pointer;
}