*{
    font-family: 'Lilita One', sans-serif;
}

.container1{
    background-color: #c8dce7;
}
.nav-item  h5{
    font-size: 25px;
    color: #4b6675;
}
.nav-item  h5:hover{
    transform: scale(1.2);
    color:black;
    border-radius: 20px;
}

.col-12 a img{    
    margin: 25px;
}

.footercolor{
    background-color: #c8dce7;
}

.about{
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 20px;
}
.footer{
    display: flex;
    justify-content:space-around;
}

.footer img{
    width:40px;
    border-radius:10px;
}