.bg-section {
    position: relative;

    &::before {
        content: '';
        width: 35vw;
        height: 35vh;
        bottom: 0px;
        right: 0px;
        background-image: url(pic/one.jpeg);
        background-size: cover;
        position: absolute;
        z-index: -1;
    }
}

.main img {
    width: 100%;
}

.yellow {
    text-align: center;
    flex-wrap: wrap;
}

.yellow1 {
    padding-top: 15px;
    font-size: 30px;
    margin-top: 30px;
    border-bottom: 10px solid #2f5a75;

}

.blue1 {
    padding-top: 20px;
    font-size: 25px;
    width: 100%;
    height: 100%;
}

.bigyellow2 {
    margin: 20px 0px 20px 0px;
}

.yellow3 {
    padding-top: 15px;
    font-size: 30px;
    width: 100%;
    border-bottom: 10px solid #2f5a75;
}

.blue3 {
    padding-top: 20px;
    font-size: 25px;
    width: 100%;
    height: 100%;
}

.yellow2 {
    padding-top: 15px;
    font-size: 30px;
    border-bottom: 10px solid #2f5a75;
}

.blue2 {
    padding-top: 20px;
    font-size: 25px;
    width: 100%;
    height: 100%;
}

.drug {
    font-size: 40px;
    margin-left: 40px;
    color: white;
    text-shadow: 2px 2px 4px black;
    display: flex;
    justify-content: center;
}

.bigdrug {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.bigdrug1 {
    background-color: #DDE6ED;
    border-radius: 30px;
    width: 250px;
    height: 350px;
    margin: 5px;
}

#smalldrug1 {
    font-size: 25px;
    margin: 12px;
    border-radius: 25px;
    padding: 10px;
    width: 230px;
    height: 70x;
    background-color: whitesmoke;
}

#smalldrug2 {
    padding: 10px;
    font-size: 25px;
}

.bottom {
    width: auto;
    height: 10px;
    background-color: #9DB2BF;
}

.insulin2 {
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 4px black;
}

.insulinmain {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.short {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.short1 {
    font-size: 20px;
    width: 350px;
    height: 400px;
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 20px;
    margin: 8px;
}

.short2 {
    font-size: 20px;
    width: 350px;
    height: 400px;
    background-color: #DDE6ED;
    border-radius: 25px;
    padding: 20px;
    margin: 8px;
}

.longa {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly
}


.bg-section2 {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;

    &::before {
        content: '';
        width: 75vw;
        height: 40vh;
        top: 60px;
        background-color: #2f5a75;
        position: absolute;
        z-index: -1;
    }
}

.col-12 a img {
    margin: 25px;
}

.bg-section3 {
    position: relative;
    margin-bottom: 30px;

    &::before {
        content: '';
        width: 80vw;
        height: 6vh;
        right: 0px;
        background-color: #2f5a75;
        position: absolute;
        z-index: -1;
    }
}

.bg-section4 {
    position: relative;

    &::before {
        content: '';
        width: 75vw;
        height: 40vh;
        right: 0px;
        background-color: #0174BE;
        position: absolute;
        z-index: -1;
    }
}

.bg-section1 {
    position: relative;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(pic/dmdrug.jpg);
        background-size: cover;
        position: absolute;
        z-index: -1;
        opacity: 0.9;
    }
}
